In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#plot_settings
plt.rcParams["figure.figsize"] = (10, 5)

In [4]:
df = pd.read_csv("../data/cleaned_dataset/data/00005.csv")

# Quick Inspection

In [5]:
df.head()

,Voltage_measured,Current_measured,Temperature_measured,Current_load,Voltage_load,Time
0,4.186636,-0.001666,5.454957,0.0002,0.000,0.000
1,4.186626,-0.002432,5.485011,0.0002,4.203,9.297
2,4.001180,-0.995300,5.510369,1.0000,3.431,23.265
3,3.982544,-0.994923,5.581233,1.0000,3.411,36.437
4,3.968436,-0.995817,5.640744,1.0000,3.398,49.609

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Voltage_measured      429 non-null    float64
 1   Current_measured      429 non-null    float64
 2   Temperature_measured  429 non-null    float64
 3   Current_load          429 non-null    float64
 4   Voltage_load          429 non-null    float64
 5   Time                  429 non-null    float64
dtypes: float64(6)
memory usage: 20.2 KB

In [7]:
df.describe()

,Voltage_measured,Current_measured,Temperature_measured,Current_load,Voltage_load,Time
count,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000
mean,3.476559,-0.983889,8.210715,0.988347,2.881352,2815.872543
std,0.272495,0.106708,1.240161,0.107427,0.391709,1635.376672
min,2.477662,-0.998142,5.454957,0.000200,0.000000,0.000000
25%,3.363047,-0.996130,7.359098,1.000000,2.789000,1405.187000
50%,3.506200,-0.995414,7.992873,1.000000,2.934000,2812.562000
75%,3.650832,-0.994780,8.900497,1.000000,3.080000,4224.312000
max,4.186636,-0.001536,11.314903,1.000000,4.203000,5650.265000